/* MAIN CSS */
body {
	font-family:'Ubuntu', sans-serif;
	color:#1b1b1b;
	position:absolute;
	width:100%;
	height:100%;
	font-size:18px;
}

/* GENERAL */
	.main {
		width:100%;
		margin:0 auto;
		overflow:hidden;
	}
	
	.main__center {
		max-width:1110px;
		margin:0 auto;
		position:relative;
	}

	.clear {
		float:none;
		clear:both;
	}
	
	.hidden { display:none; }
	
	.animation, .animationRun { visibility:hidden; }
	
	h1 {
		font-size:33px;
		line-height:130%;
		margin:43px 0;
	}
	
	h2 {
		font-size:24px;
		text-transform:uppercase;
		text-align:center;
		letter-spacing:0.10em;
	}
	
	h2:after {
		content:"";
		display:block;
		width:85px;
		height:1px;
		margin:36px auto 0;
		background:#6f4e28;
	}
		
	a { color:#017fff; }
	
	a:hover { text-decoration:none; }
	
	img { max-width:100%; }
	
	
	
	.lock-body {
		overflow:hidden;
	}
	
/* --END-- GENERAL */


/* INDEX SECTION */
	.index-section {
		min-height:100%;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center top;
		position:relative;
		padding-bottom:50px;
		
		-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
			  box-sizing: border-box;
	}
/* --END-- INDEX SECTION */

/* INDEX SECTION MAIN */
	.index-section_main {
		background-image:url("../images/index-section-main-bg.jpg");
		padding-top:37px;
	}
	
	.triangle-bg {
		width:100%;
		max-width:412px;
		height:100%;
		background:url("../images/triangle-bg.png") center top no-repeat;
		position:absolute;
		left:0;
		top:0;
	}
	
	.logo-top {
		width:160px;
		text-align:right;
		display:block;
		float:left;
	}
	
	/* TOP MENU */
		.top-menu {
			position:absolute;
			right:0;
			margin:50px 25px 0 160px;
		}
		
		.top-menu__item {
			text-align:center;
			float:left;
			padding:0 35px;
			font-size:13px;
			font-weight:bold;
			letter-spacing:0.05em;
			margin-bottom:20px;
		}
		
		.top-menu__item a {
			color:#3c3021;
			text-transform:uppercase;
			text-decoration:none;
			padding-bottom:7px;
		}
		
		.top-menu__item.active a,
		.top-menu__item a:hover {
			border-bottom:2px solid #3c3021;
		}
	/* --END-- TOP MENU */
	
	.index-section_main h1 {
		padding:84px 0 0;
		text-align:center;
		text-transform:uppercase;
		font-size:33px;
		color:#3c3021;
		letter-spacing:0.09em;
		line-height:53px;
		margin-bottom:34px;
	}
	
	.index-section_main h1:after {
		content:"";
		display:block;
		width:35px;
		height:7px;
		margin:34px auto 0;
		background:#3c3021;
	}
	
	.index-section_main h1 span {
		font-size:51px;
		letter-spacing:0.10em;
	}
	
	.index-section_main__desc {
		text-align:center;
	}
	
	/* company num */
		.company-num {
			text-align:center;
			margin:137px 0 0;
		}
		
		.company-num__item {
			width:164px;
			display:inline-block;
			margin: 0 0 20px 6%;
			vertical-align:top;
		}
		
		.company-num__item:first-child {
			margin-left:0;
		}
		
		.company-num__item__image {
			width:100%;
			height:51px;
			line-height:51px;
		}
		
		.company-num__item__image img {
			vertical-align:bottom;
		}
		
		.company-num__item__text {
			width:100%;
			height:77px;
			font-size:13px;
			text-transform:uppercase;
			vertical-align:middle;
			font-weight:bold;
			letter-spacing:0.09em;
		}
		
		.company-num__item__text:before{
			content: "";
			display: inline-block;
			min-height: inherit;
			height: 100%;
			vertical-align: middle;
		}
		
		.company-num__item__text span {
			display:inline-block;
			vertical-align:middle;
		}
		
		.company-num__item__num {
			font-size:36px;
			margin-top:-9px;
		}
		
		.company-num__item__num span {
			font-size:24px;
			text-transform:uppercase;
		}
	/* --end-- company num */
/* --END-- INDEX SECTION MAIN */


/* INDEX SECTION ABOUT */
	.index-section_about {
		background-image:url("../images/index-section-about-bg.jpg");
		padding-top:56px;
	}
	
	/* text two column */
		.text-two-col {
			text-align:justify;
			word-wrap:break-word;
			margin:50px 0;
		}
		
		.index-section_about .text-two-col {
			color:#808080;
		}
		
		.text-two-col__item {
			width:50%;
			float:left;
			padding-left:31px;
			
			-webkit-box-sizing: border-box;
			 -moz-box-sizing: border-box;
				  box-sizing: border-box;
		}
		
		.text-two-col__item:first-child {
			padding-left:0;
			padding-right:31px;
		}
	/* --end-- text two column */
	
	/* video */
		.video {
			text-align:center;
			margin:72px 0 0;
		}
		
		.video__inner {
			position:relative;
			border-radius:5px;
			display:inline-block;
			box-shadow:0 20px 40px #828282;
			cursor:pointer;
		}
		
		.video__img {
			border-radius:inherit;
			display:block;
		}
		
		.video__hover {
			width:100%;
			height:100%;
			background:url("../images/black-34.png");
			border-radius:inherit;
			position:absolute;
			top:0;
			left:0;
		}
		
		.video__hover__icon {
			width:48px;
			height:48px;
			background:url("../images/icon-play.png") no-repeat;
			position:absolute;
			left:50%;
			top:50%;
			margin:-24px 0 0 -24px;
		}
		
		.video__hover__text {
			width:100%;
			padding:0 10px;
			text-align:center;
			color:#FFF;
			text-transform:uppercase;
			letter-spacing:0.06em;
			font-size:12px;
			font-weight:bold;
			position:absolute;
			left:0;
			top:68%;
			
			-webkit-box-sizing: border-box;
			 -moz-box-sizing: border-box;
				  box-sizing: border-box;
		}
	/* --end-- video */
/* --END-- INDEX SECTION ABOUT */

/* INDEX SECTION PROJECTS */
	.index-section_projects {
		background-image:url("../images/index-section-projects-bg.jpg");
		padding-top:97px;
		padding-bottom:100px;
	}
	
	.projects {
		text-align:center;
		margin:30px 0 0;
	}
	
	.projects__item {
		width:348px;
		height:348px;
		cursor:pointer;
		overflow:hidden;
		position:relative;
		display:inline-block;
		margin:0 76px;
		
		-moz-transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		transform:rotate(45deg);
	}
	
	.projects__item__inner {
		width:492px;
		height:492px;
		position:absolute;
		top:-72px;
		left:-72px;
	
		-moz-transform:rotate(-45deg);
		-o-transform:rotate(-45deg);
		-webkit-transform:rotate(-45deg);
		transform:rotate(-45deg);
	}
	
	.projects__item img {
		width:100%;
		
		transition: all .3s; 
		-moz-transition: all .3s;
		-webkit-transition: all .3s; 
		-o-transition: all .3s;
	}
	
	.projects__item_bottom {
		margin-top:-102px;
	}
	
	.projects__item__hover {
		width:100%;
		height:100%;
		background:url("../images/project-hover-bg.png");
		vertical-align:middle;
		color:#FFF;
		position:absolute;
		top:0;
		left:0;
		opacity:0;
		filter:alpha(opacity=0);
		
		transition: all .3s; 
		-moz-transition: all .3s;
		-webkit-transition: all .3s; 
		-o-transition: all .3s;
	}
	
	.projects__item__hover:before{
		content: "";
		display: inline-block;
		min-height: inherit;
		height: 100%;
		vertical-align: middle;
	}
	
	.projects__item__hover__text {
		display:inline-block;
		vertical-align:middle;
	}
	
	.projects__item__hover__text .title {
		text-transform:uppercase;
		font-weight:bold;
		font-size:15px;
		letter-spacing:0.16em;
	}
	
	.projects__item__hover__text .title:after {
		content:"";
		width:18px;
		height:3px;
		background:#FFF;
		margin:16px auto 0;
		display:block;
	}
	
	.projects__item__hover__text .info {
		font-size:12px;
		font-style:italic;
		line-height:130%;
		display:block;
		margin:16px 0 0;
	}
	
	.projects__item:hover img {
		-webkit-filter: blur(2px);
		-moz-filter: blur(2px);
		-ms-filter: blur(2px);
		-o-filter: blur(2px);
		filter: blur(2px);
	}
	
	.projects__item:hover .projects__item__hover {
		opacity:1;
		filter:alpha(opacity=100);
	}
	
/* --END-- INDEX SECTION PROJECTS */

/* INDEX SECTION CONTACTS */
	.index-section_contacts {
		background-image:#CCC;
		padding-top:206px;
		padding-bottom:100px;
	} 
	
	.index-section_contacts__map {
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
	}
	
	.contacts {
		width:100%;
		max-width:374px;
		padding:42px 0 42px 64px;
		color:#FFF;
		font-size:14px;
		background:url("../images/black-69.png");
		
		-webkit-box-sizing: border-box;
			 -moz-box-sizing: border-box;
				  box-sizing: border-box;
	}
	
	.contacts p {
		line-height:160%;
		margin-top:36px;
	}
	
	.contacts a {
		color:#d74011;
		text-decoration:none;
	}
/* --END-- INDEX SECTION CONTACTS */